<!DOCTYPE html>
<html>
<head>
    <title>Login - Railway System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-page">

    <div class="login-box">
        <h2>Railway Management System</h2>
        <p class="subtitle">Select Login Type</p>

        <div class="login-buttons">
            <a href="/admin_login">
                <button type="button" class="admin-btn">Admin Login</button>
            </a>

            <a href="/user_login">
                <button type="button" class="user-btn">User Login</button>
            </a>
        </div>

    </div>

</body>
</html>