<!DOCTYPE html>
<html>
<head>
    <title>Login - Railway System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-page">

    <div class="login-box">
        <h2>Railway Management System</h2>
        <p class="subtitle">Secure Login Portal</p>

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

    </div>

</body>
</html>